@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  min-height: 100dvh;
  font-family: 'Open Sans', sans-serif;
  color: var(--cor3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

:root{ /* PALETA DE CORES */
  --cor01: #3F3D56;
  --cor02: #EE24FF;
  --cor3: #828282;
  --cor94: #ECEFF2;
}

main{
  max-width: 626px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 200px; /* para não ser encoberto pela altura de 186px do footer quando diminuir a altura da tela */
  
}
img#logo{
  width: 350px;
  margin: 64px auto 32px;
}

section{
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

p{
  font-size: 15px;
  text-align: center;
}

p + p:not(:nth-child(2)){
  margin-top: 32px;;
}

p:nth-child(2){
  margin-top: 16px;
}

p#slogan{
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: var(--cor01);
}

p#slogan span{
  color:var(--cor02);
  font-weight: 800;
}

p span,
footer a{
  color:var(--cor01);
  font-weight: bold;
}

footer{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}

footer #linha-separadora{
  width: 391px;
  margin-bottom: 16px;
}

footer ul{
  list-style-type: none;
  display: flex;
  column-gap: 42px;
}

footer a{
  text-decoration: none;
}

footer a:visited{
  color: var(--cor01);
}

footer a:hover{
  text-decoration: underline;
}

footer img#wave{
  width: 100%;
  height: 104px;
  margin-top: 42px;
}